[user]
    name = akijoey
    email = akijoey@akijoey.com
    signingKey = 95FD308D642B6D7C4D3B57FEC742484AA3F9A8B4

[init]
    defaultBranch = main

[core]
    editor = emacs
    autocrlf = input
    safecrlf = true
    filemode = false
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = false

[credential]
    helper = cache

[color]
    ui = auto

[status]
    showUntrackedFiles = all

[commit]
    gpgSign = true

[diff]
    colorMoved = default

[merge]
    ff = true
    conflictStyle = diff3

[pull]
    ff = true
    rebase = false

[push]
    recurseSubmodules = check

[alias]
    ci = commit
    co = checkout
    lg = log --graph --pretty='%C(auto)%h -%d %s %Cgreen(%cr) %C(cyan)<%an>'

[safe]
    directory = *
